RewriteEngine On
RewriteBase /

# Si el directorio o archivo existe, úsalo directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige todas las peticiones a index.php
RewriteRule ^(.*)$ index.php [QSA,L]

# Proteger archivos sensibles
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Proteger archivos de configuración
<FilesMatch "\.(env|config|example|md|gitignore|htaccess|htpasswd|ini|log|sh|inc|bak|sql)$">
    Order allow,deny
    Deny from all
</FilesMatch>